<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visionary | Glasses and Sunglasses</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!-- Sidecart -->
    <%- include('../partials/sidecart') %>

    <!-- Menu -->
    <%- include('../partials/menu') %>

    <main>
        <!-- Intro Banner -->
        <section class="product-page">
            <div class="container">
                <div class="product-intro">
                    <img class="img-intro" src="../images/banner-4.jpg" alt="">
                    <h2 class="bg-neutral-100">Glasses</h2>
                </div>
            </div>
        </section>


        <!-- Product Grid -->
        <section class="product-grid">
            <div class="container">
                <%- include('../partials/products') %>

                <div class="product-slogan">
                    <h1>See clearly. Live boldly.</h1>
                </div>

            </div>
        </section>

        <!-- Footer -->
        <%- include('../partials/footer') %>
    </main>

    <!-- JS -->
    <script src="/js/app.js"></script>
</body>
</html>